<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-homescreen" version="0.1">
    <name>Custom Android Launcher</name>
    <author>Jan Kalina</author>
    <description>Cordova Plugin to allow set app as android launcher (home screen)</description>
    <keywords>cordova, launch, launcher, home, homescreen</keywords>
    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>
    
    <platform name="android">
        <config-file target="AndroidManifest.xml" parent="/manifest/application/activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </config-file>
    </platform>
    
</plugin>
