<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-homescreen" version="0.2">
    
    <name>Custom Android Homescreen / Launcher</name>
    <author>Jan Kalina</author>
    <description>Cordova plugin to set application as Android homescreen / launcher (allow create kiosk-mode)</description>
    <keywords>cordova, launch, launcher, home, homescreen, kiosk</keywords>
    
    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>
    
    <platform name="android">
        
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity android:label="HomeActivity" android:launchMode="singleTop" android:theme="@android:style/Theme.NoTitleBar.Fullscreen" android:name="jk.cordova.plugin.homescreen.HomeActivity">
                <intent-filter>
                    <action android:name="android.intent.action.MAIN" />
                    <category android:name="android.intent.category.DEFAULT" /><!-- Handler of app icon (required to be launcher) -->
                    <category android:name="android.intent.category.HOME" /><!-- Handler of Home button -->
                </intent-filter>
            </activity>
        </config-file>
        
        <source-file src="HomeActivity.java" target-dir="src/jk/cordova/plugin/homescreen" />
        
    </platform>
    
</plugin>
